In [ ]:
from pandas import read_csv
from pandas import datetime
from matplotlib import pyplot
from collections import defaultdict
import csv
import numpy as np

In [ ]:
"""
* load dataset
def parser(x):
	return datetime.strptime('190'+x, '%Y-%m')
series = read_csv('shampoo.csv', header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=parser)
# summarize first few rows
print(series)
# line plot
series.plot()
pyplot.show() 
"""

In [ ]:
import csv
from collections import defaultdict

columns = defaultdict(list) # each value in each column is appended to a list

with open('dataset.csv') as f:
    reader = csv.DictReader(f) # read rows into a dictionary format
    for row in reader: # read a row as {column1: value1, column2: value2,...}
        for (k,v) in row.items(): # go over each column name and value 
            columns[k].append(v) # append the value into the appropriate list
                                 # based on column name k

for value in columns['Physikalischer Nettoexport[MWh]']:
    print(value)

In [ ]:
days = []
hour = 0
value = 0
for day in range(0,14):
    days.append(0)
    for time in range(0,25):
        if(time % 23 == 0 and time != 0):
            break
        #days[day] = days[day] + int(columns['Physikalischer Nettoexport[MWh]'][hour])
        variable =  float(columns['Physikalischer Nettoexport[MWh]'][hour])
        newvariable = str(variable)
        baum = newvariable.replace(".","")
        print (baum)
        value = value + float(columns['Physikalischer Nettoexport[MWh]'][hour])
        
        hour = hour + 1
        #print(hour)
            
        #print (time)
    print ("AUFSUMMIERT")   
    #print(days[0])

In [ ]:
#Ansatz mit Pandas

In [ ]:
import pandas as pd 
data = pd.read_csv("dataset1.csv", sep=";")
#data.all()
data.head()

In [ ]:
data[['Physikalischer Nettoexport[MWh]']]

In [ ]:
#Ein einzelnen Wert herausziehen
data.loc[0, 'Physikalischer Nettoexport[MWh]']

In [ ]:
data[['Physikalischer Nettoexport[MWh]']].sum()

In [ ]:
#Hätte den float zu String gecastet, um den Punkt herauszulöschen um das "Zahlen-Problem" zu lösen.
#Aber das geht nicht (siehe unten)
data[['Physikalischer Nettoexport[MWh]']].astype(str)

In [ ]:
#Aus diesem Grund lesen wir die Spalte 'Physikalischer Nettoexport[MWh]' erst einmal als String ein

In [1]:
import pandas as pd 
data = pd.read_csv("dataset1.csv", sep=";", dtype={'Physikalischer Nettoexport[MWh]': str})
#data.all()
data.head()

,Datum,Uhrzeit,Physikalischer Nettoexport[MWh],Niederlande (Export)[MWh],Niederlande (Import)[MWh],Schweiz (Export)[MWh],Schweiz (Import)[MWh],Dänemark (Export)[MWh],Dänemark (Import)[MWh],Tschechien (Export)[MWh],...,Luxemburg (Export)[MWh],Luxemburg (Import)[MWh],Schweden (Export)[MWh],Schweden (Import)[MWh],Österreich (Export)[MWh],Österreich (Import)[MWh],Frankreich (Export)[MWh],Frankreich (Import)[MWh],Polen (Export)[MWh],Polen (Import)[MWh]
0,01.06.2019,00:00,-5.126,119.000,-19.0,0.0,-1.11,0.0,-1.508,0.0,...,446,0,0,-446,139.0,-749.0,0.0,-1.821,817.0,0
1,01.06.2019,01:00,-4.385,514.000,-102.0,0.0,-756.00,0.0,-1.211,0.0,...,424,0,0,-446,180.0,-750.0,0.0,-1.631,569.0,0
2,01.06.2019,02:00,-3.531,823.000,-15.0,0.0,-506.00,14.0,-944.000,0.0,...,415,0,0,-446,410.0,-632.0,0.0,-1.999,532.0,0
3,01.06.2019,03:00,-3.054,1.325,-0.0,0.0,-488.00,60.0,-688.000,0.0,...,409,0,0,-446,468.0,-656.0,0.0,-2.276,505.0,0
4,01.06.2019,04:00,-3.972,1.340,-0.0,13.0,-370.00,39.0,-823.000,0.0,...,408,0,0,-446,492.0,-859.0,0.0,-2.432,254.0,-13

In [2]:
data[['Physikalischer Nettoexport[MWh]']]

    Physikalischer Nettoexport[MWh]
0                            -5.126
1                            -4.385
2                            -3.531
3                            -3.054
4                            -3.972
5                            -3.618
6                            -2.375
7                            -1.102
8                               757
9                             3.584
10                            4.831
11                            6.190
12                            6.860
13                            5.657
14                            4.522
15                            4.094
16                            3.213
17                              -92
18                           -3.391
19                           -6.652
20                           -7.123
21                           -7.104
22                           -6.931
23                           -5.892
24                           -5.095
25                           -5.308
26                           -3.617
27                           -3.900
28                           -4.423
29                           -4.791
..                              ...
330                          -3.820
331                          -4.733
332                          -4.321
333                          -3.641
334                          -1.977
335                          -1.085
336                          -1.329
337                          -1.998
338                          -1.908
339                          -2.678
340                          -3.145
341                          -3.357
342                          -2.908
343                            -934
344                           1.446
345                           2.114
346                           3.344
347                           4.432
348                           5.555
349                           3.935
350                           3.970
351                           3.418
352                           3.015
353                           2.469
354                           2.267
355                            -329
356                            -930
357                          -1.065
358                          -1.696
359                          -1.939

[360 rows x 1 columns]

In [3]:
#Dieser Regex löscht den Punkt heraus, damit aus 5,126 (kleiner als 10) 5126 wird.
realdata = data[['Physikalischer Nettoexport[MWh]']].replace({"\\.": ""}, regex=True).astype(int)
realdata

     Physikalischer Nettoexport[MWh]
0                              -5126
1                              -4385
2                              -3531
3                              -3054
4                              -3972
5                              -3618
6                              -2375
7                              -1102
8                                757
9                               3584
10                              4831
11                              6190
12                              6860
13                              5657
14                              4522
15                              4094
16                              3213
17                               -92
18                             -3391
19                             -6652
20                             -7123
21                             -7104
22                             -6931
23                             -5892
24                             -5095
25                             -5308
26                             -3617
27                             -3900
28                             -4423
29                             -4791
..                               ...
330                            -3820
331                            -4733
332                            -4321
333                            -3641
334                            -1977
335                            -1085
336                            -1329
337                            -1998
338                            -1908
339                            -2678
340                            -3145
341                            -3357
342                            -2908
343                             -934
344                             1446
345                             2114
346                             3344
347                             4432
348                             5555
349                             3935
350                             3970
351                             3418
352                             3015
353                             2469
354                             2267
355                             -329
356                             -930
357                            -1065
358                            -1696
359                            -1939

[360 rows x 1 columns]

In [4]:
#Korrekter Wert, mit Excel-Sum kontrolliert
realdata.sum()

Physikalischer Nettoexport[MWh]   -336024
dtype: int64

In [5]:
#Dieser Wert stimmt auch und ist für den 1. Tag 
realdata.loc[0, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[1, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[2, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[3, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[4, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[5, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[6, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[7, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[8, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[9, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[10, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[11, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[12, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[13, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[14, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[15, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[16, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[17, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[18, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[19, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[20, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[21, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[22, 'Physikalischer Nettoexport[MWh]'] + realdata.loc[23, 'Physikalischer Nettoexport[MWh]']

-24640

In [8]:
hours = 0

day = 1
while (day < 14):
    value = 0
    while (count < day * 24):
        value = value + realdata.loc[hours, 'Physikalischer Nettoexport[MWh]'] 
        count = count + 1
    print(value)
    day = day + 1

0
-123024
-246048
-369072
-492096
-615120
-738144
-861168
-984192
-1107216
-1230240
-1353264
-1476288